<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client Data</title>
</head>
<body>
    <h1>Please fill data in the form below:</h1>
    <form method="POST" action="/register">
        <label>FirstName:<input type="text" name="Firstname" required></label>
        <br>
         <label>LastName:<input type="text" name="Lastname" required></label>
         <br>
         <label>Username:<input type="text" name="Username" required></label>
         <br>
        <label>Email:<input type="text" name="Email" required></label>
        <br>
        <label>Password:<input type="text" name="Password" required></label>
        <br>
        <label>Amount:<input type="text" name="Amount" required></label>
        <br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>
